# RENAME THIS FILE TO config.properties
# COMPLETE THE INFORMATION

# Database
db.url=
db.user=
db.password=
db.pool.size=

# Ingestion
ingestion.data.path=
ingestion.flush.threshold=
ingestion.max.flight.time=